common/component_templates/util_powah_1.txt
common/component_templates/util_powah_2_corvette.txt
common/component_templates/util_powah_3_destroyer.txt
common/component_templates/util_powah_4_cruiser.txt
common/component_templates/util_powah_5_battleship.txt
common/component_templates/util_powah_6_station.txt
common/component_templates/util_powah_7_realships.txt
common/component_templates/util_powah_8_nsc.txt
common/component_templates/util_powah_9_isbs.txt
generate/copyfromme.yml
